selection_bg: red
-
selection_fg: #fff
-
primary_style:
  /*
   * Author: Marcos Ojeda
   */

  @font-face {
    font-family: 'KnuckledusterRegular';
    src: url('@root_path/public/docs/type/knuckleduster14-webfont.eot');
    src: local('☺'), url('@root_path/public/docs/type/knuckleduster14-webfont.woff') format('woff'), url('@root_path/public/docs/type/knuckleduster14-webfont.ttf') format('truetype'), url('@root_path/public/docs/type/knuckleduster14-webfont.svg#webfontm1EuVTZC') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  h1,h2,h3{
    font-family:"KnuckledusterRegular";
    font-weight:normal;
    font-style:normal;
    font-size:120px;
    color:#037;
    opacity:.2;
    line-height:1em;
  }

  #navigation h2{
    opacity:.7;
    font-size:40px;
    color:green;
    opacity:.35;

  }

  #navigation h3 {
    opacity:.7;
    font-size:20px;
    color:#333;
  }
  #navigation h3 a{
    color:#333;
  }
  #navigation h3 a:hover{
    color:black;
  }

  #navigation > li{
    float:left;
    margin-top:2em;
    margin-right:60px;
  }
  #navigation >li + li{
    padding-top:5em;
  }

  #workpage nav li,
  #essaypage nav li{
    display:inline-block;
    font-family:"KnuckledusterRegular";
    font-weight:normal;
    font-style:normal;
    opacity:.7;
    font-size:20px;
  }

  #workpage nav li:after{
    content:" |";
    margin-right:1em;
  }
  #workpage nav li:last-child:after{
    content:"";
    margin-right:0;
  }


  .children {
    padding:0;margin-left:0;
    margin-top:1.7em;
  }
  .children li{
    line-height:1.7em;
    margin-bottom:1.7em;
  }

  #workpage header{
    position:absolute;
  }

  nav{
    position:absolute;
    top:190px;
    left:450px;
  }

  #workpage nav{
    left:500px;
    top:200px;
  }
  #essaypage nav{
    position: static;
    left: 50px;
    top: auto;
  }

  p{
    font-family: "Plan Grotesque Light 2", "HelveticaNeue-Light", "Helvetica Neue Light", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size:18px;
    line-height:24px;
  }
  #main em{
    font-family: "Plan Grotesque Light Italic 2", sans-serif;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
  }
  #main strong{
    color:red;
    text-decoration:underline;
  }

  #workpage footer{
    right:50px;
  }

  footer{
    position:fixed;
    padding:20px;

    bottom:0px;
    left:50px;
    width:300px;
    background-color:rgba(255,255,255,.8);
  }
  footer p:last-child{
    margin-bottom:0;
  }


  #main{
    position:relative;
    width:400px;
    min-height:200px;
    padding:40px;
    z-index:-100;

  }

  #workpage #main{
    z-index:500;
    width:450px;
  }

  #essaypage .main-content{
    max-width: 550px;
  }

  #workpage p{
    margin-bottom:1em;
  }
  #essaypage p {
    margin-bottom: 2em;
  }
  #essaypage #main p {
    line-height: 30px;
    font-size: 20px;
  }
  #essaypage hr {
    margin: 4em 0 5em;
  }
  #essaypage strong {
    font-weight: normal;
  }

  blockquote {
    margin: 0 1em;
  }

  blockquote p {
    font-family: Times, serif;
  }

  footer p{
    font-size:12px;
    line-height:16px;
    margin-bottom:12px;
    color:black;
  }

  #essaypage #main .footnotes p {
    font-size: 16px;
    line-height: 20px;
  }
  #essaypage img {
    max-width: 100%;
  }
  #essaypage h2 {
    font-size: 50px;
  }
  #essaypage h3 {
    font-size: 30px;
  }

  #essaypage pre {
    padding: 0;
    margin-top: -10px;
    margin-bottom: 30px;
  }

  #essaypage code {
    font-family: inputmonocondensed-regular, "Input Mono Cond", "andale mono", monospace;
    font-weight: normal;
    font-style: normal;
    white-space: pre;
    font-size: 85%
  }

  #essaypage pre code {
    font-size: 100%;
    line-height: 130%;
  }


  #prettystuff{
    width:900px;
    position:absolute;
    z-index:-50;
    left:151px;
    padding-bottom:150px;
  }

  #images img{
    margin-bottom:60px;
    border:1px solid #ccc;
    -moz-box-shadow: -15px 15px 0px #ccc;
    -webkit-box-shadow: -15px 15px 0px #ccc;
    box-shadow: -15px 15px 0px #ccc;
    max-width:1024px;
  }

/* pure xl and smaller */
@media screen and (max-width: 1280px) {
  h1 { font-size: 102px;}
}

/* pure lg and smaller */
@media screen and (max-width: 1024px) {
  h1 { font-size: 75px;}
  .main-content { padding: 0 17%;}
  footer {position: relative;}
  #essaypage nav { margin: 2em 0; text-align: center;}
  #essaypage nav li { display: inline; margin: 0 1em; font-size: 14px; }

}

/* pure md and smaller (single col here) */
@media screen and (max-width: 768px) {
  h1 { font-size: 55px;}
  .main-content { padding: 0 4.1666666%;}
  footer {
    left: auto;
    width: auto;
    padding: 2.5em 4.1666666%;
  }
  #essaypage pre code {
    font-size: 70%;
    font-weight: bold;
  }
}

/* pure sm */
@media screen and (max-width: 568px) {
  h1 { font-size: 28px;}
  #essaypage .main-content h2, #essaypage .main-content h3 { font-size: 24px;}
  #essaypage pre code {
    font-size: 52%;
    font-weight: bold;
  }
}

