/*default css stylesheet for web.mit.edu/thinker/www/  */

body {
  background: #000; color:gray;
}
a {
  background: #000; color: green;
  text-decoration: none;
}
a:visited {
  background: #000; color: red;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  font-weight: bold;
}

.img {
  color: magenta;
}

.html {
  color: aqua;
}

p.prompt:before {
 content: "athena% "; 
}

input {
  background: #000; color: gray;
  border: 0px black;
  font: 10pt "courier 10 pitch", courier new, courier, monospace; 
}

pre {
  font: 10pt "courier 10 pitch", courier new, courier, monospace; 
  background: #000; color: gray;
}

label {
  font: 10pt "courier 10 pitch",courier new, courier, monospace;
  background: #000; color: gray;
}

#stalk{
}

#legalyear {
  background: maroon;
}

#dob {
  color: maroon;
}

#blockcursor {
  background: gray;
}

#dl {
  font-variant: small-caps;
  font-weight: bold;
}

p, li {
  background: #000;  color: gray;
  font: 10pt courier new, courier, monospace;
}
h1,h2,h3,h4 {
  background: #000; color: gray;
  font: 10pt courier new, courier, monospace;
}
.links {
  position: absolute; 
  top: 433px; left: 13px;
  text-align: right;
}
.photo {
  float:left; position: absolute; 
  top:73px; left: 73px;
}

.descriptions {
  position: absolute; 
  top:65px; left: 620px; 
  margin-right: 10px; max-width: 300px;
}

.zippo {
  position: absolute;
  max-width: 300px; max-height: 200px;
  top: 400px; left: 200px;
}

.zippoship {
  position: absolute;
  max-width:200px; max-height: 200px;
  top: 400px; left: 520px;
}
