{% extends 'main.html' %}

{% set title = this.title %}

{% block navigation %}
  <ul id="navigation">
  {% for path in ['/recently', '/the-past', 'essays'] %}
  {% set child = site.get(path) %}
    <li><h2>{{ child.title }}</h2>
      <ul class="children">
      {% for item in child.children %}
        <li><h3><a href="{{ item|url }}">
          {{ item.path.split('/')[-1].replace('-', ' ')|title }}
        </a></h3></li>
      {% endfor %}
      </ul>
    </li>
  {% endfor %}
  </ul>
{% endblock %}

{% block body %}
    <div id="main">
      {{ this.body }}
    </div>
{% endblock %}

{% block images %}
{% endblock %}
